<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>${pool['PoolName']} Hockey Pool</title>
<link rel="stylesheet" type="text/css" href="yui/build/reset/reset.css"> 
<link rel="stylesheet" type="text/css" href="yui/build/base/base.css"> 
%if prefix != 'plain':
<link rel="stylesheet" type="text/css" href="yui/build/fonts/fonts.css"> 
<link rel="stylesheet" type="text/css" href="yui/build/grids/grids.css"> 
<link type="text/css" rel="stylesheet" href="yui/build/datatable/assets/skins/sam/datatable.css"> 
<style type="text/css">
td.yui-dt-col-rank div { text-align: right }
td.yui-dt-col-delta div { text-align: right }
td.yui-dt-col-points div { text-align: right }
td.yui-dt-col-dtp div { text-align: right }
td.yui-dt-col-remain div { text-align: right }
td.yui-dt-col-left div { text-align: right }
td.yui-dt-col-poolpts div { text-align: right }
td.yui-dt-col-old div { text-align: right }
div.positive { color: #339933 }
div.negative { color: #ff0000 }
</style>
<script type="text/javascript" src="yui/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="yui/build/element/element.js"></script> 
<script type="text/javascript" src="yui/build/datasource/datasource.js"></script> 
<script type="text/javascript" src="yui/build/datatable/datatable.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {
    var1 = new function() {
        var myColumnDefs = [
            {key:"rank",label:"#",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true},
            {key:"delta",label:"+",formatter:formatDelta},
            {key:"teamname",label:"Team Name", sortable:true, sortOptions:{field:"sortname"}},
            {key:"points",label:"Pts",formatter:fixedDigitFormat(1),sortable:true},
            {key:"dtp",label:"+",formatter:formatDelta,sortable:true},
%if pool['UsesSchedule'] and pool['Started'] :
            {key:"pdtp",label:"+P",formatter:formatDelta,sortable:true},
            {key:"gr",label:"GR",formatter:fixedDigitFormat(1),sortable:true},
            {key:"pred",label:"Pred",formatter:fixedDigitFormat(1),sortable:true},
%endif
%if pool['UsesSalary'] :
            {key:"remain",label:"Salary",formatter:salaryFormat,sortable:true},
%endif
%if pool['PoolName'] == 'NLG Playoff' :
            {key:"left",label:"Players",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true},
%endif 
%if pool['MultiYearPool'] :
            {key:"poolpts",label:"PP",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true},
            {key:"old",label:"Last",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true},
            {key:"alert",label:"!"}
%endif
        ];
        this.myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("standtable"));
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        this.myDataSource.responseSchema = {
            fields: [
                    {key:"rank", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"delta", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"sortname"},
                    {key:"teamname"},
                    {key:"points", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"dtp", parser:YAHOO.util.DataSource.parseNumber},
%if pool['UsesSchedule'] :
                    {key:"pdtp", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"gr", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"pred", parser:YAHOO.util.DataSource.parseNumber},
%endif
%if pool['UsesSalary'] :
                    {key:"remain", parser:YAHOO.util.DataSource.parseNumber},
%endif
%if pool['PoolName'] == 'NLG Playoff' :
                    {key:"left", parser:YAHOO.util.DataSource.parseNumber},
%endif
%if pool['MultiYearPool'] :
                    {key:"poolpts", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"old", parser:YAHOO.util.DataSource.parseNumber},
                    {key:"alert"},
%endif
            ]
        };

        this.myDataTable = new YAHOO.widget.DataTable("standings", myColumnDefs, this.myDataSource,
%if pool['Started'] or not pool['MultiYearPool'] :
                {sortedBy:{key:"rank",dir:"asc"}}
%else :
                {sortedBy:{key:"poolpts",dir:"desc"}}
%endif
        );
    };
});
</script>
%endif
</head>
<body class="yui-skin-sam">
<div id="doc3" class="yui-t1">
    <div id="hd">
        <h1>The ${pool['PoolName']} Pool Website - ${pool['PoolYear']} Standings</h1>
    </div>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div id="standings">
                    <table id="standtable">
%if prefix == 'plain':
                        <thead><tr>
                            <td>Rank</td>
                            <td>+</td>
                            <td>Team Name</td>
                            <td>Points</td>
                            <td>+</td>
%if pool['UsesSchedule'] :
                            <td>P+</td>
                            <td>GR</td>
                            <td>Pred</td>
%endif
%if pool['UsesSalary'] :
                            <td>Salary</td>
%endif
%if pool['MultiYearPool'] :
                            <td>PP</td>
                            <td>Last</td>
                            <td>Alert</td>
%endif
%if pool['PoolName'] == 'NLG Playoff' :
                            <td>Left</td>
%endif
                        </tr></thead>
%endif
                        <tbody>
%for team in teams:
                            <tr>
                                <td>${team.rank}</td>
                                <td>${team.deltaRank}</td>
    %if prefix != 'plain':
                                <td>${team.name}</td>
    %endif
                                <td><a href="${prefix}teams/${team.section}_main.html">${team.name}</a></td>
                                <td>${team.points}</td>
                                <td>${team.deltaPoints}</td>
%if pool['UsesSchedule'] :
                                <td>${team.predDeltaPoints}</td>
                                <td>${team.gamesLeft}</td>
                                <td>${team.predictedPoints}</td>
%endif
%if pool['UsesSalary'] :
    %if prefix == 'plain':
                                <td>${team.remainFancy}</td>
    %else :
                                <td>${team.remain}</td>
    %endif
%endif
%if pool['PoolName'] == 'NLG Playoff' :
                                <td>${team.playersLeft}</td>
%endif
%if pool['MultiYearPool'] :
                                <td>${team.poolpoints}</td>
                                <td>${team.lastyear}</td>
    %if not pool['Started'] :
                                <td>${team.awards}</td>
    %else :
                                <td><b>${team.alert}</b><td>
    %endif
%endif
                            </tr>
%endfor
                        </tbody>
                    </table>
                </div>
%if recentLogs != None and pool['UsesSalary'] :
                <h2>News from ${recentLogs[0].isoformat()}</h2>
                <ul>
    %for entry in recentLogs[1] :
                    <li>${entry}</li>
    %endfor
                </ul>
%endif
            </div>
        </div>
        <div class="yui-b">
%if pool['UsesSchedule'] :
            Games Played: ${gamesCounting} (${round(fracGames,2)})${spacer}
%endif
%if pool['UsesSalary'] :
            Smallpuck: ${smallPuck.gaa + 2}${spacer}
            ${smallPuck.GetLinkName(False,'plain','')} ${spacer}
            Cap is ${cap}${spacer}
            <hr>
%endif
%if pool['MultiYearPool'] :
            <a href="index.html">Mobile</a>${spacer}
            <a href="${prefix}news.html">News</a>${spacer}
            <a href="${prefix}draftbyteam.html">Draft By Team</a>${spacer}
            <a href="${prefix}draft/draft${draftYear}.html">Draft In Order</a>${spacer}
            <a href="${prefix}unsigned/c.html">Unsigned Players</a>${spacer}
            <a href="${prefix}allskaters.html">All Skaters</a>${spacer}
            <a href="${prefix}allgoalies.html">All Goalies</a>${spacer}
            <a href="${prefix}summary/games.html">Team Statistics</a>${spacer}
            <hr>
%endif
%if pool['PoolName'] == 'Young Guns' :
            <hr>
            <a href="${prefix}unsigned/f.html">Unsigned Forwards</a>${spacer}
            <a href="${prefix}unsigned/d.html">Unsigned Defence</a>${spacer}
            <hr>
%endif
%if prefix == 'plain':
            <a href="frontpage.html">Javascript Site</a>${spacer}
%else:
            <a href="plainfrontpage.html">Non-Javascript Site</a>${spacer}
%endif
%if pool['MultiYearPool'] :
    %for oldYear in range(pool['PoolYear'] - 1, pool['PoolYear'] - pool['PrevYears'] - 1,-1) :
            <a href="${oldYear}/${prefix}frontpage.html">${oldYear}</a>${spacer}
    %endfor
            <a href="http://www.dreadfest.com/hprules.html">The Rules</a>${spacer}
%endif
            <a href="http://www.dreadfest.com/index.html">Dreadfest Home</a>${spacer}
            <hr>
            <a href="http://www.nhl.com">NHL</a>${spacer}
            <a href="http://www.nhlpa.com">NHLPA</a>${spacer}
            <a href="http://www.thehockeynews.com">Hockey News</a>${spacer}
            <a href="http://slam.canoe.ca/Slam/Hockey/home.html">Slam Hockey</a>${spacer}
            <hr>
            Site Updated ${updated.isoformat()}
        </div>
    </div>
    <div id="ft">
    </div>
</div>
</body>
</html>
